/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --color-accent: #FF0070;
  --accent-text-color:#FF0070;
  --color-secondary: #DB00FF;
  --color-text: #F1B2CE;
  --color-subtitle: #000028;
  --color-background: #000028;
  --color-accent-btn: #FF0070;
  --color-accent-opacity: #FF007066;
  --color-link-hover:#F1B2CE; 
  --bg-image: url(../images/cover-image-dark.png);
  --border: 1px var(--color-accent) solid;
}

.theme-dark .header__logo {
  display: block;
}
