/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --color-accent: #FF8DCB;
  --accent-text-color:#353430;
  --color-secondary: #FFC2E6;
  --color-text: #353430;
  --color-subtitle: #353430;
  --color-background: #FFF1F7;
  --color-accent-btn: #353430;
  --color-accent-opacity: #32312D66;
  --color-link-hover: #353430; 
  --bg-image: url(../images/cover-image-light.png);
  --border:1px var(--color-accent) solid; 
}

.theme-light .header__logo {
  display: none;
}

/*Автосветлую тему починил, да была ошибка в prefers*/
@media (prefers-color-scheme: light) {
  :root {
    --color-accent: #FF8DCB;
    --accent-text-color:#353430;
    --color-secondary: #FFC2E6;
    --color-text: #353430;
    --color-subtitle: #353430;
    --color-background: #FFF1F7;
    --color-accent-btn: #353430;
    --color-accent-opacity: #32312D66;
    --color-link-hover: #353430; 
    --bg-image: url(../images/cover-image-light.png);
    --border:1px var(--color-accent) solid; 
  }

  .header__logo {
    display: none;
  }

}

