/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --color-accent: #FF8DCB;
  --color-secondary: #FFC2E6;
  --color-text: #353430;
  --color-subtitle: #353430;
  --color-background: #FFF1F7;
  --color-accent-opacity: #FF007066;
  --bg-image: url(../images/cover-image-light.png);
  --border:1px var(--color-accent) solid; 

  
}

.theme-light .header {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-image: url(../images/cover-image-light.png);
}

.theme-light .header__logo {
  display: none;
}

