/* Никита, спасибо за 2-е рефью ⚡
Исправляюсь...
- Добавил отступы для параграфа внутри карточки для изменения контента (307 стр)
- Сделал выравнивание внутри карточки (305 стр)
- Включил автотему (29 стр в light)
- Поправил стили для светлой темы (13,18,19 стр в light)
- Поправил состояния для кнопок на всех темах (143, 380,381 383-385)
- Поправил состояния для ссылок тоже на всех темах



1-е ревью
Поправил замечания🫡:
1.Проверил пиксель перфект и все поправил
2.Добавил gap 10 для карточек text__block-list, чтобы не было слипания текста и заголовка
3.Поправил фокусы и ховеры
4.Перенес стили темную и светлую тему, а там добавил медиазапросы, rec включил в темной и выключил в светлой
"...Для каждой темы должен быть одинаковый набор переменных"
5. Выровнял контент по центру
6. Попробовал прогнать через типограф и поставить неразрывные пробелы, 
но в итоге получилось только хуже, и под пиксель перфект не везде попадало, потому сделал их не везде.
7. Ссылки заменил на <a> c href
8. Добавил <br> для корректного переноса
9. Добавил min-height 668px для хедера и футера
10.Добавил картинкам loading="lazy"
11.Добавил класс заголовкам 4-го уровня с жирность text__block-list-subtitle для сокращения дублирования однотипного кода
12.Ссылки из макета
13. h5 для заголовка в футере "Тег h1 может быть только один на странице"
*/

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--color-background); 
  margin: 0;
  font-family: var(--font-family);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  margin: 0 auto;
}


/* Mobile-first стили */
.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: start;
  align-items: start;  
  height: 100vh; 
  padding: var(--main-gap);
  min-height: 668px;

  @media (width >= 768px) {
    padding: 20px;
    }
}

.header__logo {
  position: absolute;
  inset-inline-end: 38px;
  inset-block-start: 10px;

  @media (width >= 768px) {
    inset-inline-end: 48px;
    inset-block-start: 20px;
    }

  @media (width >= 1024px) {
    inset-inline-end: 48px;
    inset-block-start: 20px;
    }
}

.header__logo::before {
  content: 'REC';
  font-size: var(--font-main-size);
  color: var(--color-accent);
  line-height: 1.4;
}

.header__logo::after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  background-color: var(--color-accent);
  border-radius: 50%;
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: -19px;
  box-shadow: 0 0 4px 3px var(--color-accent);
}

/* Менюшка с кнопками тем */
.header__theme-menu {
  display: grid;
  width: 100%;
  justify-content: end;
  margin-top: calc(75px - var(--main-gap));
  @media (width >= 768px) {
    margin-top: calc(182px - var(--main-gap));
    }
  @media (width >= 1024px) {
  height: 100%;
  justify-content: center;
  align-items: start;
  margin-top: calc(10px - var(--main-gap));
  }

}

/* Расположение кнопок внутри менюшки */
.header__theme-menu-list {
  display: grid;
  width: 100%;
  justify-items: end;
  gap: 10px;
  list-style: none; 
  @media (width >= 1024px) {
    grid-template-columns: repeat(3, 1fr);
    }
}

/* Стили кнопки */
.header__theme-menu-button {
  padding: 0 13px;
  border: 1px solid transparent;
  cursor: pointer;
  color: var(--color-accent-btn);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
  background-color: transparent;
}

/* Поправил фокусы и их состояния*/
.header__theme-menu-button_active {
  border: var(--border); 
  border-color: var(--color-accent-btn);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-accent-opacity);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--color-accent-btn);
}



.header__title {
  font-family: var(--font-family);
  font-size: var(--font-title-size-mobile);
  font-weight: bold;
  color: var(--color-secondary);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--color-accent); 

  @media (width >= 768px) {
    font-size: var(--font-title-size);
    margin-top: 5px;
    margin-left: -20px;
    }

  
  @media (width >= 1024px) {
    margin-top: 0px;
    }
}


.header__text {
  width: 100%;
  font-size: var(--font-main-size);
  font-family: var(--font-family);
  color: var(--color-text); 
  background-color: var(--color-accent);
  margin-top: 55px;
  color: var(--color-background);
  font-weight: 700;
  font-size: var(--font-main-size);

  @media (width >= 768px) {
    justify-self: end;
    align-self: center;
    width: 50%;
    margin-top: 4px;
    }

  @media (width >= 1024px) {
    margin-top: 0px;
    }
}


/* Квадратики */
.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--color-accent);
  border-block-start: 1px solid var(--color-accent);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);

  @media (width >= 768px) {
    inset-inline-end: 20px;
    inset-block-start: 20px;
    }

  @media (width >= 1024px) {
    inset-block-start: 20px;
    }
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--color-accent);
  border-block-end: 1px solid var(--color-accent);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);

  @media (width >= 768px) {
    inset-inline-start: 20px;
    inset-block-end: 20px;
    }

  @media (width >= 1024px) {
    inset-block-end: 20px;
      }
}


.content {
  background-color: var(--color-background);
  display: grid;
  margin-top: 30px;
  gap: 50px;
  padding: 10px;

  @media (width >= 768px) {
    margin-top: 40px;
    padding: 20px;
    gap: 80px;
    }

  @media (width >= 1024px) {
    margin-top: 40px;
    padding: 20px;
    gap: 80px;
    }
}

.content__section {
  font-size: var(--font-main-size);
  list-style: normal;
  line-height: 23.4px;  
  
  @media (width >= 768px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  @media (width >= 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    }
}

.content__section-title {
  color: var(--accent-text-color);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: var(--font-main-size);
}

.text__blocks {
  display: grid;
  gap: 20px;
  @media (width >= 1024px) {
    grid-column: span 2;
    }
}

.text__block {
  display: grid; 
  grid-template-rows: auto 1fr; /*Выровнял карточку по верхнему краю — этого свойства не было, потому и не работало*/
  align-items: start;
  gap: 10px; /* Добавил отступ для абзацев чтобы не ломалась верстка */
  margin: 0;
}

/* Добавил гап для карточек, чтобы не было слипания текста и заголовка */
.text__block-list {
  gap: 10px;
}

.text__block-title,
.text__block-list-subtitle {
  background-color: var(--color-accent);
  color: var(--color-subtitle);
  /* margin-bottom: 10px; этот отспуп перенес в .text__block-list-subtitle*/
  font-size: var(--font-main-size);
}

.text__block-title {
  font-weight: 700;
  
}

.text__block-list-subtitle {
  margin-bottom: 10px; 
  margin-top: 20px;
  font-weight: 400;
}

.text__block-list-subtitle:first-child {
  margin-top: 10px;
}



.text__block-section {
  display: grid;
  gap: 10px;
}

.text__block-content {
  color: var(--color-text);
}

.causes {
  .content__section-title {
    grid-column: 1 / span 3;
    max-width: 274px;

    @media (width >= 768px) {
      max-width: 236px;
      }

    @media (width >= 1024px) {
      max-width: 270px;
      }
  }

  .text__blocks {
    grid-column: 1 / span 3;
  @media (width >= 1024px) {
    grid-template-columns: repeat(3, 1fr);
    }

  }

}


.text-link-color {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-accent); 
}


.text-link-color:hover {
  border-bottom: 1px solid var(--color-link-hover);
  cursor: pointer;
}

/*Сделал focus-visible */
.text-link-color:focus-visible {
  outline: none;
  border: var(--border); 
  border-color: var(--color-link-hover);
  pointer-events: none;
}



.gallery {
  display: grid;
  gap: var(--main-gap);
  @media (width >= 768px) {
    gap: 20px;
    }
}

.gallery__heading { 
  background-color: var(--color-accent);
  color: var(--color-subtitle);
  font-weight: 700;
  font-size: var(--font-main-size);
  grid-column: 1/-1;
}

.gallery__image {
  inline-size: 100%;
}

@media (width >= 768px) {
.gallery {
    grid-template-columns: repeat(3, 1fr);
  }


.gallery__image {
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }

.gallery__image:first-of-type {
    grid-column: span 2;
  }
.gallery__image:nth-of-type(2) {
    grid-row: span 2;
  }

.gallery__image:nth-of-type(3) {
    grid-row: span 2;
  }

.gallery__image:nth-of-type(4) {
    grid-row: span 1;
  }

.gallery__image:nth-of-type(5) {
    grid-column: span 2;
}

}


.footer {
  display: grid;
  position: relative;
  justify-content: center;
  align-items: center;  
  height: 100vh; 
  min-height: 668px;
  margin-top: 30px;

  @media (width >= 768px) {
    margin-top: 40px;
    }
}


.footer__title {
  font-family: var(--font-family);
  font-size: var(--font-title-size-mobile);
  font-weight: bold;
  color: var(--color-secondary);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--color-accent); 
  
  @media (width >= 768px) {
    font-size: var(--font-title-size);
    }
}